.sidebar{
    display: flex; 
    padding: 10px 0;
    background-color: #F66C35;
    /* margin-top: 30px; */
}
.side:hover{
    cursor: pointer;
    border-radius: 0 100px 100px 0 ;
    background-color: rgba(0, 0, 0, 0.04);
}
.sidebar_arrow{
    margin-top: 30px;
    margin-left: 12px;
}
.sidebar_arrow{
    display: flex;
}
.sidebar_arrow>p {
    margin-left: 12px;
    margin-right: 12px;
}